// Page: Home
main#home {

	// Global: Checkmarks
	ul.checkmarks {
		& {display:block;}
		li {position:relative;
			&:before {content:''; position:absolute; left:0px; background-position:center center; background-repeat:no-repeat; background-size:100% 100%;}
			&:last-of-type {margin-bottom:0px!important;}
		}
		&.blue li { color:$color-blue;
			&:before {background-image:url($image-folder+'icon-checkmark-blue.svg');}
		}
		&.white li { color:#fff;
			&:before {background-image:url($image-folder+'icon-checkmark-white.svg');}
		}	
	}
	
	// Section: Main Hero
	#hero {
		& {position:relative; z-index:auto!important; background-position:top center; background-repeat:no-repeat; background-size:auto 100%;}
		.container > * {position:absolute;}
		h1 {@include font('MontserratRegular'); color:#2f3132; text-transform:uppercase; display:inline-block;
			span {@include font('MontserratSemiBold'); color:inherit;}
			&:after {content:''; position:absolute; left:0px; right:0px; height:2px; background-color:$color-blue;}
		}
		ul.checkmarks.blue {
			li {@include font('MontserratSemiBold');}
		}
		.cta {
			* {position:absolute;}
			& > * {left:0px; right:0px; text-align:center;}
			.ln1 {@include font('MontserratBold'); color:$color-red; text-transform:uppercase; top:0px;}
			.price {@include font('MontserratBold'); color:$color-blue;
				span {position:relative; font-family:inherit; font-weight:inherit; color:inherit;}
				small {position:relative; @include font('MontserratRegular'); color:inherit;}
			}
			.ln2 {@include font('MontserratSemiBold'); color:$color-blue; text-transform:uppercase;}
			.ln3 {@include font('MontserratSemiBold'); color:$color-blue;}
			a.button {bottom:0px;}
		}
		.name {@include font('MontserratSemiBold'); color:#fff;}

		@include breakpoint('>=bp_1024'){
			& {@include splitBG(#bfbcbb,#e9e9e9); background-image:url($image-folder+'hero-bg-desktop.jpg');}
			.name br {display:none;}
		}
		@include breakpoint('bp_1280'){
			.container {height:670px;}
			h1 {right:120px; top:50px; @include font-size(44px);
				&:after {bottom:-15px;}
			}
			ul.checkmarks.blue {right:120px; top:130px; width:415px;
				li {@include font-size(26px,36px); padding-left:50px; min-height:30px; margin-bottom:20px;
					&:before {top:4px; width:30px; height:30px;}
				}
			}
			img.asotv {right:120px; top:350px; @include image-size($image-icon-asotv,60px);}
			.cta {right:200px; bottom:30px; width:230px; height:205px;
				.ln1 {@include font-size(22px); letter-spacing:0.08em;}
				.price {top:24px; @include font-size(60px);
					span:nth-of-type(1){bottom:5px; @include font-size(42px);}
					span:nth-of-type(2){bottom:16px; @include font-size(36px);}
					small {bottom:28px; @include font-size(20px);}
				}
				.ln2 {top:84px; @include font-size(28px);}
				.ln3 {top:116px; @include font-size(16px);}
				a.button {@include button(230px,64px,20px);}
			}
			.name {bottom:30px; left:100px; @include font-size(18px);}
		}
		@include breakpoint('bp_1024'){
			.container {height:560px;}
			h1 {right:100px; top:40px; @include font-size(36px);
				&:after {bottom:-10px;}
			}
			ul.checkmarks.blue {right:100px; top:100px; width:340px;
				li {@include font-size(22px,30px); padding-left:45px; min-height:26px; margin-bottom:15px;
					&:before {top:2px; width:26px; height:26px;}
				}
			}
			img.asotv {right:100px; top:280px; @include image-size($image-icon-asotv,50px);}
			.cta {right:170px; bottom:30px; width:200px; height:180px;
				.ln1 {@include font-size(18px); letter-spacing:0.1em;}
				.price {top:22px; @include font-size(50px);
					span:nth-of-type(1){bottom:5px; @include font-size(34px);}
					span:nth-of-type(2){bottom:14px; @include font-size(30px);}
					small {bottom:23px; @include font-size(18px);}
				}
				.ln2 {top:76px; @include font-size(24px);}
				.ln3 {top:102px; @include font-size(14px);}
				a.button {@include button(200px,54px,18px);}
			}
			.name {bottom:30px; left:90px; @include font-size(16px);}
		}
		@include breakpoint('<=bp_768'){
			& {@include splitBG(#fefefe,#e9e9e9); background-image:url($image-folder+'hero-bg-tablet.jpg');
				&:before, &:after {display:block!important;}
			}			
		}
		@include breakpoint('bp_768'){
			.container {height:830px; width:768px!important;}
			h1 {top:50px; right:30px; @include font-size(42px);
				&:after {bottom:-15px;}
			}
			ul.checkmarks.blue {top:125px; right:30px; width:395px;
				li {@include font-size(26px,36px); padding-left:50px; min-height:32px; margin-bottom:18px; letter-spacing:-0.04em;
					&:before {top:4px; width:32px; height:32px;}
				}
			}
			img.asotv {top:370px; right:60px; @include image-size($image-icon-asotv,70px);}
			.cta {bottom:40px; right:30px; width:300px; height:290px;
				.ln1 {@include font-size(26px); letter-spacing:0.15em;}
				.price {top:28px; @include font-size(80px);
					span:nth-of-type(1){bottom:8px; @include font-size(54px);}
					span:nth-of-type(2){bottom:22px; @include font-size(48px);}
					small {bottom:36px; @include font-size(28px);}
				}
				.ln2 {top:106px; @include font-size(36px);}
				.ln3 {top:144px; @include font-size(22px);}
				a.button {@include button(300px,74px,24px);}
			}
			.name {bottom:40px; left:40px; @include font-size(24px,34px);}
		}
		@include breakpoint('bp_540'){
			.container {height:580px; width:540px!important;}
			h1 {top:40px; right:20px; @include font-size(30px);
				&:after {bottom:-10px;}
			}
			ul.checkmarks.blue {top:90px; right:20px; width:285px;
				li {@include font-size(18px,24px); padding-left:35px; min-height:24px; margin-bottom:15px;
					&:before {top:2px; width:24px; height:24px;}
				}
			}
			img.asotv {top:260px; right:40px; @include image-size($image-icon-asotv,50px);}
			.cta {bottom:30px; right:40px; width:190px; height:180px;
				.ln1 {@include font-size(20px); letter-spacing:0.05em;}
				.price {top:20px; @include font-size(52px);
					span:nth-of-type(1){bottom:5px; @include font-size(36px);}
					span:nth-of-type(2){bottom:14px; @include font-size(32px);}
					small {bottom:24px; @include font-size(18px);}
				}
				.ln2 {top:74px; @include font-size(26px);}
				.ln3 {top:100px; @include font-size(14px);}
				a.button {@include button(190px,48px,16px);}
			}
			.name {bottom:30px; left:20px; @include font-size(16px,22px);}
		}
		@include breakpoint('bp_360'){
			& {background-image:url($image-folder+'hero-bg-mobile.jpg');}
			.container {height:390px; width:360px!important;}
			h1 {top:15px; right:15px; @include font-size(22px); letter-spacing:-0.02em;
				&:after {bottom:-10px;}
			}
			ul.checkmarks.blue {top:60px; right:15px; width:185px;
				li {@include font-size(16px,20px); padding-left:30px; min-height:22px; margin-bottom:6px; text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
					&:before {top:2px; width:22px; height:22px;}
				}
			}
			img.asotv {top:200px; right:30px; @include image-size($image-icon-asotv,32px);}
			.cta {bottom:15px; right:15px; width:180px; height:140px;
				.ln1 {@include font-size(14px); letter-spacing:0.1em;}
				.price {top:15px; @include font-size(38px);
					span:nth-of-type(1){bottom:4px; @include font-size(26px);}
					span:nth-of-type(2){bottom:10px; @include font-size(22px);}
					small {bottom:14px; @include font-size(16px);}
				}
				.ln2 {top:50px; @include font-size(18px);}
				.ln3 {top:70px; @include font-size(12px);}
				.price, .ln2, .ln3 {color:#fff; text-shadow: 0px 0px 16px rgba(0,0,0,0.9);}
				a.button {@include button(180px,44px,14px);}
			}
			.name {bottom:15px; left:15px; width:140px; @include font-size(12px,14px); text-shadow: 0px 0px 8px rgba(0,0,0,0.8);}
		}
	}
	
	// Section: Three Icons
	#icons {
		.flexbox {justify-content:center; position:relative; flex-direction:row!important;
			.box {
				& {background-position:top center; background-repeat:no-repeat; text-align:center;}
				&.left {@include image-background-file($image-icon-caffeine);}
				&.center {@include image-background-file($image-icon-shield);}
				&.right {@include image-background-file($image-icon-pills);}
				h3 {@include font('MontserratMedium'); color:#000; text-transform:uppercase;}
				
			}
			&:after {content:''; position:absolute; bottom:-10px; left:0px; right:0px; height:10px; background:url($image-folder+'line.png') center center no-repeat;}
		}
		
		@include breakpoint('bp_1280'){
			.flexbox {margin:40px 0 10px;
				.box {width:340px; @include image-background-size($image-icon-caffeine,70px); 
					h3 {@include font-size(20px); margin-top:100px; margin-bottom:40px;}
				}
				&:after {background-size:1100px 10px;}
			}
		}
		@include breakpoint('bp_1024'){
			.flexbox {margin:30px 0 10px;
				.box {width:250px; @include image-background-size($image-icon-caffeine,50px); 
					h3 {@include font-size(16px); margin-top:70px; margin-bottom:30px;}
				}
				&:after {background-size:920px 10px;}
			}
		}
		@include breakpoint('bp_768'){
			.flexbox {margin:30px 0 10px;
				.box {width:200px; @include image-background-size($image-icon-caffeine,70px); 
					h3 {@include font-size(22px); margin-top:90px; margin-bottom:30px;}
				}
				&:after {background-size:640px 10px;}
			}
		}
		@include breakpoint('bp_540'){
			.flexbox {margin:20px auto 10px;
				.box {width:160px; @include image-background-size($image-icon-caffeine,40px); 
					h3 {@include font-size(14px,18px); margin-top:60px; margin-bottom:20px;}
				}
				&:after {background-size:460px 6px;}
			}
		}
		@include breakpoint('bp_360'){
			.flexbox {margin:20px auto 6px;
				.box {width:110px; @include image-background-size($image-icon-caffeine,40px); 
					h3 {@include font-size(12px,14px); margin-top:52px; margin-bottom:10px;}
				}
				&:after {background-size:320px 6px;}
			}
		}
	}	
	
	// Section: Users
	#users {
		h2 {@include font('MontserratRegular'); color:#141414; text-align:center;}
		.r2 .box {background-color:#f7f7f7;}
		.box {text-align:center;
			h3 {display:block; position:relative; @include font('MontserratSemiBold'); color:#646060; text-transform:uppercase;
				&:before {content:''; display:block; background:url($image-folder+'user-stars.svg') top center no-repeat; background-size:auto 100%;}
			}
			p {@include font('MontserratMedium'); color:#646060;}
			img {@include center-horizontal();}
		}
		
		@include breakpoint('>=bp_1024'){
			h2 br {display:none;}
			p.person {position:absolute; bottom:0px; left:0px; right:0px;}
		}
		@include breakpoint('bp_1280'){
			h2 {@include font-size(36px);
				&:nth-of-type(1){margin:40px 0 50px;}
				&:nth-of-type(2){margin:60px 0;}
			}
			.flexbox {
				.box {width:380px;}
				&.r2 {margin-bottom:65px;
					.box {padding:30px 30px 60px;
						h3 {@include font-size(20px); margin-bottom:15px;
							&:before {height:24px; margin-bottom:5px;}
						}
						p {@include font-size(20px,26px);
							&.person {@include font-size(18px); bottom:20px;}
						}
					}					
				}
			}
			
		}
		@include breakpoint('bp_1024'){
			h2 {@include font-size(30px);
				&:nth-of-type(1){margin:40px 0 40px;}
				&:nth-of-type(2){margin:50px 0;}
			}
			.flexbox {
				.box {width:320px;}
				&.r2 {margin-bottom:50px;
					.box {padding:20px 26px 50px;
						h3 {@include font-size(16px); margin-bottom:12px;
							&:before {height:20px; margin-bottom:8px;}
						}
						p {@include font-size(16px,22px);
							&.person {@include font-size(14px); bottom:20px;}
						}
					}					
				}
			}
			
		}	
		@include breakpoint('<=bp_768'){
			.container {padding:0px!important;}
			.flexbox {
				.box {margin-left:auto; margin-right:auto;
					&:last-of-type {margin-bottom:0px;}
				}
				&.r1:after {content:''; position:absolute; left:0px; right:0px; bottom:0px; height:10px; background:url($image-folder+'line.png') center center no-repeat;}
			}
		}
		@include breakpoint('bp_768'){
			.container {width:640px!important;}
			h2 {@include font-size(46px,52px);
				&:nth-of-type(1){margin:50px 0;}
				&:nth-of-type(2){margin:60px 0 70px;}
			}
			.flexbox {
				&.r1 {padding-bottom:60px;
					.box {margin-bottom:40px;}
					&:after {background-size:640px 10px;}
				}
				
				&.r2 {
					.box {padding:30px 60px; margin-bottom:40px;
						h3 {@include font-size(32px); margin-bottom:40px;
							&:before {height:40px; margin-bottom:20px;}
						}
						p {@include font-size(32px,44px);
							&:nth-of-type(1){margin-bottom:50px;}
							&.person {@include font-size(30px);}
						}
					}					
				}
			}
			
		}
		@include breakpoint('bp_540'){
			.container {width:440px!important;}
			h2 {@include font-size(32px,36px);
				&:nth-of-type(1){margin:30px 0;}
				&:nth-of-type(2){margin:30px 0 40px;}
			}
			.flexbox {
				&.r1 {padding-bottom:45px;
					.box {margin-bottom:20px;
						img {width:100%; max-width:640px;}
					}
					&:after {background-size:440px 6px;}
				}
				&.r2 {
					.box {padding:20px 30px; margin-bottom:20px;
						h3 {@include font-size(22px); margin-bottom:20px;
							&:before {height:24px; margin-bottom:20px;}
						}
						p {@include font-size(22px,28px);
							&:nth-of-type(1){margin-bottom:30px;}
							&.person {@include font-size(20px);}
						}
					}					
				}
			}
			
		}
		@include breakpoint('bp_360'){
			.container {width:330px!important; min-width:330px!important;}
			h2 {@include font-size(24px,30px);
				&:nth-of-type(1){margin:15px 0;}
				&:nth-of-type(2){margin:24px 0 30px;}
			}
			.flexbox {
				&.r1 {padding-bottom:40px;
					.box {margin-bottom:15px;
						img {width:100%; max-width:640px;}
					}
					&:after {background-size:330px 6px;}
				}
				&.r2 {
					.box {padding:15px 20px; margin-bottom:15px;
						h3 {@include font-size(18px); margin-bottom:10px;
							&:before {height:20px; margin-bottom:10px;}
						}
						p {@include font-size(18px,24px);
							&:nth-of-type(1){margin-bottom:20px;}
							&.person {@include font-size(16px);}
						}
					}					
				}
			}
			
		}			
	}

	// Section: Trust Pilot
	#trustPilot {
		h2 {@include font('MontserratRegular'); color:#141414; text-align:center;}
		
		@include breakpoint('bp_1280'){
			& {margin-bottom:60px;}
			h2 {@include font-size(36px); margin-bottom:60px;}	
		}
		@include breakpoint('bp_1024'){
			& {margin-bottom:50px;}
			h2 {@include font-size(30px); margin-bottom:50px;}	
		}
		@include breakpoint('>=bp_1024'){
			h2 br {display:none;}
		}
		@include breakpoint('bp_768'){
			& {margin-bottom:50px;}
			h2 {@include font-size(42px); margin:80px auto 50px;}	
		}
		@include breakpoint('bp_540'){
			& {margin-bottom:30px;}
			h2 {@include font-size(32px,36px); margin:30px auto 20px;}	
		}
		@include breakpoint('bp_360'){
			& {margin-bottom:20px;}
			h2 {@include font-size(24px,30px); margin:20px auto 10px;}	
		}
	}

	// Section: As Seen In
	#featured {
		& {background-color:#eff0f0;}
		h2 {position:relative; @include font('MontserratRegular'); color:#141414; text-align:center; text-transform:uppercase; @include center-horizontal();
			&:before,
			&:after {content:''; display:block; position:absolute; background-color:#b1b4b8; height:1px;}
			&:before {left:0px;}
			&:after {right:0px;}
		}
		.flexbox {margin-left:auto; margin-right:auto; flex-direction:row!important; justify-content:space-between!important; align-items:stretch!important;
			.box {width:auto; align-self:center!important;}
		}
		
		@include breakpoint('bp_1280'){
			.container {padding:40px 0;}
			h2 {@include font-size(24px); width:340px; margin-bottom:40px;
				&:before,
				&:after {top:12px; width:65px;}
			}
			.flexbox {width:760px;
				.box {
					img {height:40px; width:auto;}
				}
			}
		}
		@include breakpoint('bp_1024'){
			.container {padding:30px 0;}
			h2 {@include font-size(20px); width:280px; margin-bottom:30px;
				&:before,
				&:after {top:8px; width:60px;}
			}
			.flexbox {width:650px;
				.box {
					img {height:34px; width:auto;}
				}
			}
		}	
		@include breakpoint('bp_768'){
			.container {padding:50px 20px 70px;}
			h2 {@include font-size(40px); width:560px; margin-bottom:30px;
				&:before,
				&:after {top:20px; width:110px;}
			}
			.flexbox {
				.box {
					img {height:50px; width:auto;}
				}
			}
		}
		@include breakpoint('bp_540'){
			.container {padding:40px 15px 40px;}
			h2 {@include font-size(26px); width:380px; margin-bottom:30px;
				&:before,
				&:after {top:12px; width:80px;}
			}
			.flexbox {
				.box {
					img {height:30px; width:auto;}
				}
			}
		}	
		@include breakpoint('bp_360'){
			.container {padding:30px 15px 36px;}
			h2 {@include font-size(20px); width:280px; margin-bottom:24px;
				&:before,
				&:after {top:10px; width:60px;}
			}
			.flexbox {
				.box {
					img {height:24px; width:auto;}
				}
			}
		}	
	}
	
	// Section: Advanced
	#advanced {
		h2 {@include font('MontserratRegular'); color:#fff;}
		ul.checkmarks.white {
			li {@include font('MontserratRegular');}
		}
		
		@include breakpoint('>=bp_1024'){
			& {background:url($image-folder+'advanced-bg-desktop.png')center center no-repeat; background-size:cover;}
			.column {
				&.left {width:42%;}
				&.right {width:58%;
					h2 br {display:none;}
				}
			}
		}
		@include breakpoint('bp_1280'){
			.container {height:480px;}
			.left {padding-top:100px;
				img {@include image-size($image-advanced-product,400px);}
			}
			.right {padding-top:60px;
				h2 {@include font-size(36px,42px); margin-bottom:42px;}
				ul.checkmarks.white {
					li {@include font-size(28px,44px); padding-left:50px; min-height:36px; margin-bottom:30px;
						&:before {top:6px; width:36px; height:36px;}
					}
				}
			}
		}
		@include breakpoint('bp_1024'){
			.container {height:390px;}
			.left {padding-top:100px;
				img {@include image-size($image-advanced-product,340px);}
			}
			.right {padding-top:60px;
				h2 {@include font-size(30px,36px); margin-bottom:30px;}
				ul.checkmarks.white {
					li {@include font-size(22px,36px); padding-left:40px; min-height:36px; margin-bottom:20px;
						&:before {top:6px; width:26px; height:26px;}
					}
				}
			}
		}	
		@include breakpoint('<=bp_768'){
			& {background:url($image-folder+'advanced-bg-mobile.png')top center no-repeat; background-size:cover;}
			.column {
				&.right {order:1;
					h2 {text-align:center;}
					ul.checkmarks.white {@include center-horizontal();}
				}
				&.left {order:2;
					img {@include center-horizontal();}
				}
			}
		}
		@include breakpoint('bp_768'){
			.container {height:1140px;}
			.right {padding-top:70px;
				h2 {@include font-size(48px,54px); margin-bottom:70px;}
				ul.checkmarks.white {width:600px; margin-bottom:90px;
					li {@include font-size(32px,52px); padding-left:60px; min-height:50px; margin-bottom:30px;
						&:before {top:6px; width:50px; height:50px;}
					}
				}
			}
			.left {
				img {@include image-size($image-advanced-product,420px);}
			}
		}
		@include breakpoint('bp_540'){
			.container {height:690px;}
			.right {padding-top:40px;
				h2 {@include font-size(32px,36px); margin-bottom:40px;}
				ul.checkmarks.white {width:420px; margin-bottom:40px;
					li {@include font-size(22px,34px); padding-left:40px; min-height:30px; margin-bottom:14px;
						&:before {top:6px; width:30px; height:30px;}
					}
				}
			}
			.left {
				img {@include image-size($image-advanced-product,270px);}
			}
		}
		@include breakpoint('bp_360'){
			.container {height:530px;}
			.right {padding-top:30px;
				h2 {@include font-size(24px,30px); margin-bottom:20px;}
				ul.checkmarks.white {width:290px; margin-bottom:24px;
					li {@include font-size(18px,26px); padding-left:36px; min-height:26px; margin-bottom:8px;
						&:before {top:2px; width:26px; height:26px;}
					}
				}
			}
			.left {
				img {@include image-size($image-advanced-product,200px);}
			}
		}			
	}
	
	// Section: How it Works
	#howitworks {
		& {background-color:#eff0f0;}
		h2 {@include font('MontserratRegular'); color:#141414; text-align:center; background:url($image-folder+'howitworks-lightbulb.png') top center no-repeat; @include center-horizontal();}
		p {@include font('MontserratRegular'); color:#000; text-align:center;}
		.flexbox {margin-left:auto; margin-right:auto; @include image-background($image-howitworks-brain,'top center');
			h3 {@include font('MontserratRegular'); color:$color-blue; text-transform:uppercase;}
			p {@include font('MontserratRegular'); color:#000;}
			img {@include center-horizontal();}
		}
		a.button {@include center-horizontal();}
		
		@include breakpoint('>=bp_1024'){
			h2 br {display:none;}
			.container > p {display:none;}
			.flexbox {justify-content:space-between;
				.box {width:33.33%;
					h3 {display:inline-block; border-bottom:1px solid $color-blue;}
					p {text-align:left;}
				}
			}
		}		
		@include breakpoint('bp_1280'){
			.container {padding:50px 0 60px;}
			h2 {@include font-size(36px,48px); @include image-background-size($image-howitworks-lightbulb,90px); padding-top:160px; width:830px; margin-bottom:60px;}
			.flexbox {width:1100px; margin-bottom:30px; @include image-background-size($image-howitworks-brain,350px);
				.box {width:330px;}
				h3 {@include font-size(30px); padding-bottom:20px; margin-bottom:20px;}
				p {@include font-size(20px,34px);}
			}
			a.button {@include button(250px,70px,22px);}
		}
		@include breakpoint('bp_1024'){
			.container {padding:40px 0 50px;}
			h2 {@include font-size(30px,40px); @include image-background-size($image-howitworks-lightbulb,70px); padding-top:120px; width:670px; margin-bottom:40px;}
			.flexbox {width:900px; margin-bottom:10px; @include image-background-size($image-howitworks-brain,300px);
				.box {width:280px;}
				h3 {@include font-size(26px); padding-bottom:15px; margin-bottom:15px;}
				p {@include font-size(16px,28px);}
			}
			a.button {@include button(210px,60px,18px);}
		}
		@include breakpoint('<=bp_768'){
			h2 {letter-spacing:-0.04em;}
			.flexbox {
				.box > * {@include center-horizontal(); text-align:center;}
			}
		}
		@include breakpoint('bp_768'){
			.container {padding:40px 20px 100px;}
			h2 {@include font-size(48px,54px); @include image-background-size($image-howitworks-lightbulb,100px); padding-top:160px; margin-bottom:40px;}
			p {@include font-size(24px,38px);}
			.flexbox {@include image-background-size($image-howitworks-brain,640px); background-position:top 200px center; margin:60px auto;
				.box.left {margin-bottom:360px;}
				h3 {@include font-size(50px); margin-bottom:40px;}
				p {width:620px;}
			}
			a.button {@include button(300px,74px,26px);}
		}
		@include breakpoint('bp_540'){
			.container {padding:40px 15px 60px;}
			h2 {@include font-size(32px,36px); @include image-background-size($image-howitworks-lightbulb,70px); padding-top:120px; margin-bottom:25px;}
			p {@include font-size(16px,26px);}
			.flexbox {@include image-background-size($image-howitworks-brain,480px); background-position:top 100px center; margin:30px auto;
				.box.left {margin-bottom:260px;}
				h3 {@include font-size(34px); margin-bottom:20px;}
			}
			a.button {@include button(200px,50px,16px);}
		}
		@include breakpoint('bp_360'){
			.container {padding:30px 15px 50px;}
			h2 {@include font-size(24px,30px); @include image-background-size($image-howitworks-lightbulb,60px); padding-top:100px; margin-bottom:20px;}
			p {@include font-size(16px,24px);}
			.flexbox {@include image-background-size($image-howitworks-brain,250px); background-position:top 250px center; margin:30px auto;
				.box.left {margin-bottom:280px;}
				h3 {@include font-size(24px); margin-bottom:15px;}
			}
			a.button {@include button(220px,55px,18px);}
		}
	}
	
	// Section: Better Brain
	#better {
		h2 {@include font('MontserratRegular'); color:#141414; text-align:center;}
		p {@include font('MontserratRegular'); color:#0d0d0d; text-align:center; @include center-horizontal();}
		.flexbox {margin-left:auto; margin-right:auto; flex-direction:row!important;
			.box {width:50%;
				& > * {@include center-horizontal(); text-align:center;}
				h3 {@include font('MontserratRegular'); color:$color-blue; text-align:center; background-position:top center; background-repeat:no-repeat;}
				&:nth-of-type(1) h3 {background-image:url($image-folder+'icon-head.svg');}
				&:nth-of-type(2) h3 {background-image:url($image-folder+'icon-spokes.svg');}
				&:nth-of-type(3) h3 {background-image:url($image-folder+'icon-blocks.svg');}
				&:nth-of-type(4) h3 {background-image:url($image-folder+'icon-brain.svg');}
			}
		}
		
		@include breakpoint('>=bp_1024'){
			h2 br {display:none;}
		}
		@include breakpoint('bp_1280'){
			.container {padding-top:60px;}
			h2 {@include font-size(36px); margin-bottom:40px;}
			p {@include font-size(20px,34px); width:850px; margin-bottom:60px;}
			.flexbox {width:780px; margin-bottom:50px;
				.box {margin-bottom:50px;
					img {width:350px; height:350px; margin-bottom:30px;}
					h3 {@include font-size(24px,30px); padding-top:120px; background-size:100px 100px;}
				}
			}
		}
		@include breakpoint('bp_1024'){
			.container {padding-top:50px;}
			h2 {@include font-size(30px); margin-bottom:30px;}
			p {@include font-size(16px,28px); width:700px; margin-bottom:50px;}
			.flexbox {width:650px; margin-bottom:30px;
				.box {margin-bottom:30px;
					img {width:300px; height:300px; margin-bottom:30px;}
					h3 {@include font-size(20px,26px); padding-top:90px; background-size:80px 80px;}
				}
			}
		}
		@include breakpoint('bp_768'){
			.container {padding-top:70px;}
			h2 {@include font-size(48px,54px); margin-bottom:50px;}
			p {@include font-size(24px,38px); width:700px; margin-bottom:50px;}
			.flexbox {margin-bottom:30px;
				.box {margin-bottom:30px;
					img {width:320px; height:320px; margin-bottom:30px;}
					h3 {@include font-size(34px,42px); padding-top:160px; background-size:140px 140px;}
				}
			}
		}
		@include breakpoint('bp_540'){
			.container {padding-top:50px;}
			h2 {@include font-size(32px,36px); margin-bottom:30px;}
			p {@include font-size(16px,26px); margin-bottom:30px;}
			.flexbox {margin-bottom:20px;
				.box {margin-bottom:20px;
					img {width:92%; height:auto; margin-bottom:20px;}
					h3 {@include font-size(22px,28px); padding-top:100px; background-size:90px 90px;}
				}
			}
		}
		@include breakpoint('bp_360'){
			.container {padding-top:40px;}
			h2 {@include font-size(24px,30px); width:300px; margin-bottom:20px; @include center-horizontal();}
			p {@include font-size(16px,24px); margin-bottom:15px;}
			.flexbox {
				.box {margin-bottom:15px;
					img {width:95%; height:auto; margin-bottom:15px;}
					h3 {@include font-size(16px,20px); padding-top:75px; background-size:70px 70px;}
				}
			}
		}
	}
	
	// Section: Purity
	#purity {
		& {background-color:$color-blue;}
		h2 {@include font('MontserratMedium'); color:#fff; text-transform:uppercase;}
		p {@include font('MontserratRegular'); color:#fff;}
		
		@include breakpoint('>=bp_1024'){
			.flexbox {margin-left:auto; margin-right:auto; @include center-vertical();
				.box {position:absolute;}
			}	
		}
		@include breakpoint('bp_1280'){
			.container {height:290px;}
			.flexbox {height:120px; width:820px;
				.box {
					&:nth-of-type(1){left:0px; top:0px; width:120px;
						img {@include image-size($image-purity-seal,120px);}
					}
					&:nth-of-type(2){top:0px; left:140px;
						h2 {@include font-size(40px);}
					}
					&:nth-of-type(3){bottom:0px; left:140px;
						p {@include font-size(20px,34px);}
					}	
				}
			}	
		}
		@include breakpoint('bp_1024'){
			.container {height:240px;}
			.flexbox {height:100px; width:700px;
				.box {
					&:nth-of-type(1){left:0px; top:0px; width:100px;
						img {@include image-size($image-purity-seal,100px);}
					}
					&:nth-of-type(2){top:0px; left:120px;
						h2 {@include font-size(32px);}
					}
					&:nth-of-type(3){bottom:0px; left:120px;
						p {@include font-size(16px,28px);}
					}	
				}
			}	
		}
		@include breakpoint('<=bp_768'){
			.flexbox {
				.box {
					& > * {@include center-horizontal(); text-align:center;}
					&:nth-of-type(1){order:2;}
					&:nth-of-type(2){order:1}
					&:nth-of-type(3){display:none;}
				}
			}
		}
		@include breakpoint('bp_768'){
			.container {padding:50px 0 40px;}
			.flexbox {
				.box {
					h2 {@include font-size(38px); margin-bottom:30px;}
					img {@include image-size($image-purity-seal,120px);}
				}
			}	
		}
		@include breakpoint('bp_540'){
			.container {padding:30px 0;}
			.flexbox {
				.box {
					h2 {@include font-size(24px); margin-bottom:20px;}
					img {@include image-size($image-purity-seal,75px);}
				}
			}	
		}
		@include breakpoint('bp_360'){
			.container {padding:25px 0 15px;}
			.flexbox {
				.box {
					h2 {@include font-size(18px); margin-bottom:15px;}
					img {@include image-size($image-purity-seal,60px);}
				}
			}	
		}
	}
	
	// Section: Lower CTA
	#lowerCTA {
		h2 {@include font('MontserratRegular'); color:#141414; text-align:center;}
		img {@include center-horizontal();}
		.cta {@include center-horizontal();
			& > * {text-align:center;}
			.price {position:relative; @include font('MontserratSemiBold'); color:$color-blue; left:0px; right:0px;
				span {position:relative; font-family:inherit; font-weight:inherit; color:inherit;}
				small {position:relative; @include font('MontserratRegular'); color:inherit;}
			}
			.ln1 {@include font('MontserratMedium'); color:$color-blue;}
			.ln2 {@include font('MontserratMedium'); color:$color-blue; text-transform:uppercase;}
			a.button {@include center-horizontal();}
		}
		
		@include breakpoint('>=bp_1024'){
			h2 br {display:none;}
		}
		@include breakpoint('bp_1280'){
			.container {padding:60px 0 140px;}
			h2 {@include font-size(36px); margin-bottom:80px;}
			img {@include image-size($image-lowerCTA-products);}
			.cta {width:540px;
				.price {@include font-size(80px);
					span:nth-of-type(1){@include font-size(54px); bottom:6px;}
					span:nth-of-type(2){@include font-size(48px); bottom:22px;}
					small {@include font-size(24px); bottom:40px;}
				}
				.ln1 {@include font-size(26px); margin-bottom:30px;}
				.ln2 {@include font-size(34px); margin-bottom:60px;}
				a.button {@include button(250px,68px,22px);}
			}
		}
		@include breakpoint('bp_1024'){
			.container {padding:40px 0 110px;}
			h2 {@include font-size(30px); margin-bottom:60px;}
			img {@include image-size($image-lowerCTA-products,500px);}
			.cta {width:540px;
				.price {@include font-size(66px);
					span:nth-of-type(1){@include font-size(46px); bottom:6px;}
					span:nth-of-type(2){@include font-size(40px); bottom:18px;}
					small {@include font-size(22px); bottom:32px;}
				}
				.ln1 {@include font-size(22px); margin-bottom:20px;}
				.ln2 {@include font-size(30px); margin-bottom:40px;}
				a.button {@include button(200px,60px,18px);}
			}
		}
		@include breakpoint('bp_768'){
			.container {padding:60px 0 110px;}
			h2 {@include font-size(48px,54px); margin-bottom:50px;}
			img {@include image-size($image-lowerCTA-products,640px); margin-bottom:30px;}
			.cta {
				.price {@include font-size(94px);
					span:nth-of-type(1){@include font-size(64px); bottom:10px;}
					span:nth-of-type(2){@include font-size(56px); bottom:28px;}
					small {@include font-size(30px); bottom:46px;}
				}
				.ln1 {@include font-size(32px); margin-bottom:30px;}
				.ln2 {@include font-size(40px); margin-bottom:50px;}
				a.button {@include button(300px,74px,26px);}
			}
		}
		@include breakpoint('bp_540'){
			.container {padding:40px 0 80px;}
			h2 {@include font-size(32px,36px); margin-bottom:30px;}
			img {@include image-size($image-lowerCTA-products,420px); margin-bottom:20px;}
			.cta {
				.price {@include font-size(62px);
					span:nth-of-type(1){@include font-size(42px); bottom:6px;}
					span:nth-of-type(2){@include font-size(38px); bottom:18px;}
					small {@include font-size(20px); bottom:32px;}
				}
				.ln1 {@include font-size(18px); margin-bottom:10px;}
				.ln2 {@include font-size(26px); margin-bottom:30px;}
				a.button {@include button(200px,50px,16px);}
			}
		}
		@include breakpoint('bp_360'){
			.container {padding:30px 0 60px;}
			h2 {@include font-size(28px,32px); margin-bottom:20px;}
			img {@include image-size($image-lowerCTA-products,330px); margin-bottom:10px;}
			.cta {
				.price {@include font-size(48px);
					span:nth-of-type(1){@include font-size(32px); bottom:4px;}
					span:nth-of-type(2){@include font-size(30px); bottom:12px;}
					small {@include font-size(18px); bottom:20px;}
				}
				.ln1 {@include font-size(16px); margin-bottom:12px;}
				.ln2 {@include font-size(20px); margin-bottom:34px;}
				a.button {@include button(220px,55px,18px);}
			}
		}
	}

}	
