// Page: How it Works
main#how-it-works {
	
	// Section: Hero (Video)
	#hero {
		& {background-color:#000; background-position:center top; background-repeat:no-repeat;}
		@include desktop {
			& {background-size:auto 675px;}
			.video {
				&, 
				& > .overlay, 
				& > .player,
				& > iframe {width:1200px; height:675px;}
			}
		}
		@include tablet {
			& {background-size:auto 422px;}
			.video {
				&, 
				& > .overlay, 
				& > iframe {width:750px; height:422px;}
			}
		}
		@include tablet_up {
			& {background-image:url('images/hero-howitworks-desktop-bg.jpg');}
			.video .overlay img {display:none;}
		}
		@include mobile {
			& {background:none;}
			.video {
				&, 
				& > .overlay, 
				& > .player,
				& iframe {left:0px; right:0px; top:0px; width:100%; height:calc(100vw * 0.5495);}
			}
		}
	}
	
	// Section: Why Alpha-GPC
	#why {
		&:after {content:""; position:absolute; bottom:0px; left:0px; right:0px; background-color:$color-gray1; height:100px; z-index:-1;}
		h2 {@include font('MontserratRegular');}
		p {@include font('MontserratRegular');}
		a.boldLink {display:none!important; color:$color-blue; text-transform:uppercase;}
		
		@include tablet_up {
			.flexcolumn {
				.column {width:50%;}
				&.r1 {
					img {@include center-vertical();}
				}
				&.r2 {
					img {position:absolute; right:20px;}
					a.button {position:absolute; left:0px;}
				}
			}
		}
		@include desktop {
			&:after {height:250px;}
			h2 {@include font-size(42px,48px); margin-bottom:40px;}
			p {@include font-size(20px,32px); margin-bottom:70px;}
			a.boldLink {@include font-size(20px,32px); margin-bottom:90px;}
			
			.flexcolumn {
				&.r1 {
					.left img {width:480px;}
					.right {padding:100px 0 90px;}
				}
				&.r2 {height:250px;
					img {width:110px; top:70px;}
					a.button {width:240px; top:95px;}
				}
			}
		}
		@include tablet {
			&:after {height:150px;}
			h2 {@include font-size(32px,36px); margin-bottom:30px;}
			p,a.boldLink {@include font-size(18px,26px); margin-bottom:40px;}
			
			.flexcolumn {
				&.r1 {
					.left img {width:300px;}
					.right {padding:60px 0 40px;}
				}
				&.r2 {height:150px;
					img {width:110px; top:20px;}
					a.button {width:200px; top:50px;}
				}
			}
		}			
		@include mobile {
			&:after {display:none;}
			h2 {@include font-size(26px,28px); margin-bottom:30px;}
			p,a.boldLink {@include font-size(16px,22px); margin-bottom:40px;}				
			.flexcolumn {
				.column > * {@include center-horizontal();}
				&.r1 {
					.left {order:2;
						img {width:100%; max-width:260px;}
					}
					.right {order:1; padding:20px 0 0; text-align:center;
						p {margin-bottom:0px;}
						a.boldLink {display:inline-block; margin-bottom:0px;}
					}
				}
				&.r2 {
					.left {order:2; height:150px; background-color:$color-gray1;
						img {width:120px; @include center-vertical();}
					}
					.right {order:1; padding-bottom:40px;}
				}
			}	
		}
	}
	
	// Section: Brain Operating at Peak Capacity
	#brain {
		h2 {@include font('MontserratRegular'); text-align:center; @include center-horizontal();
			span.light {display:block; @include font('MontserratLight'); color:$color-blue;
				strong {@include font('MontserratBold');}
			}
		}
		.flexcolumn {
			.title {position:relative; display:block;
				.ln1 {@include font('MontserratBold'); color:#d1d3d4; letter-spacing:-0.02em;}
				.ln2 {position:absolute; @include font('MontserratBold'); color:$color-blue; text-transform:uppercase;}
			}				
			p {@include font('MontserratRegular'); text-align:center; position:relative; display:block; z-index:5;
				&:before {content:""; position:relative; display:inline-block; width:10px; height:10px; background-color:$color-blue; top:-2px; margin-right:10px;}
			}				
			img {@include center-horizontal();}
		}

		@include desktop {
			h2 {@include font-size(42px,48px); margin-top:100px; max-width:960px; margin-bottom:120px;
				span {margin-bottom:30px;
					strong {@include font-size(94px,48px);}
				}
			}
			.flexcolumn {margin-bottom:100px;
				.title {margin-bottom:40px;
					.ln1 {@include font-size(90px); margin-bottom:10px;}
					.ln2 {@include font-size(34px); bottom:-10px; left:10px;}
				}
				p {@include font-size(20px,32px); margin-bottom:20px;
					&:last-of-type {margin-bottom:0px;}
				}
				.column:nth-of-type(1){width:375px;
					p:nth-of-type(1){width:350px;}
					p:nth-of-type(2){width:310px; right:-40px;}
					p:nth-of-type(3){width:400px;}
					p:nth-of-type(4){width:390px; right:-40px;}
				}
				.column:nth-of-type(2){width:450px;
					img {width:450px; height:550px;}
				}
				.column:nth-of-type(3){width:375px;
					.title {margin-left:60px;}
					p:nth-of-type(1){width:340px; left:40px;}
					p:nth-of-type(2){width:340px; left:30px;}
					p:nth-of-type(3){width:320px; left:10px;}
					p:nth-of-type(4){width:350px; left:-40px;}
				}					
			}
		}
		@include tablet {
			h1 {max-width:500px;}
			h2 {@include font-size(32px,36px); margin-top:60px; margin-bottom:60px;
				span {margin-bottom:30px;
					strong {@include font-size(80px,36px);}
				}
			}
			.flexcolumn {margin-bottom:60px;
				.title {margin-bottom:20px;
					.ln1 {@include font-size(60px); margin-bottom:10px;}
					.ln2 {@include font-size(26px); bottom:-6px; left:6px;}
				}
				p {@include font-size(16px,20px); margin-bottom:15px;
					&:last-of-type {margin-bottom:0px;}
				}
				.column:nth-of-type(1){width:235px;
					p:nth-of-type(1){width:270px;}
					p:nth-of-type(2){width:250px;}
					p:nth-of-type(3){width:320px;}
					p:nth-of-type(4){width:320px;}
				}
				.column:nth-of-type(2){width:280px;
					img {width:200px; height:244px;}
				}
				.column:nth-of-type(3){width:235px;
					.title {margin-left:0px;}
					p:nth-of-type(1){width:250px; left:-20px;}
					p:nth-of-type(2){width:260px; left:-30px;}
					p:nth-of-type(3){width:310px; left:-80px;}
					p:nth-of-type(4){width:330px; left:-100px;}
				}					
			}
		}			
		@include mobile {
			h1 {max-width:400px;}
			h2 {margin-top:20px; margin-bottom:20px;
				span {margin-bottom:10px;
					strong {}
				}
			}
			.flexcolumn {margin-bottom:20px;
				.title {margin-bottom:20px; @include center-horizontal();
					.ln1 {@include font-size(40px); margin-bottom:10px;}
					.ln2 {@include font-size(20px); bottom:-6px; left:6px;}
				}
				p {@include font-size(14px,18px); margin-bottom:15px;
					&:before {height:6px; width:6px; margin-right:6px;}
					&:last-of-type {margin-bottom:0px;}
				}
				.column:nth-of-type(1) .title {width:160px;}
				.column:nth-of-type(3) .title {width:170px;}
								
			}
		}
		@include mobile_510 {
			h2 {@include font-size(26px,28px); margin-top:20px; margin-bottom:20px;
				span {margin-bottom:15px;
					strong {@include font-size(40px,28px);}
				}
			}
			.flexcolumn {
				.column:nth-of-type(1){margin-bottom:20px;}
				.column:nth-of-type(2) img {width:300px;}	
			}			
		}
		@include mobile_360 {
			h2 {@include font-size(20px,24px); margin-top:20px; margin-bottom:20px;
				span {margin-bottom:10px;
					strong {@include font-size(30px,26px);}
				}
			}
			.flexcolumn {
				.column:nth-of-type(1){margin-bottom:20px;}
				.column:nth-of-type(2) img {width:240px;}	
			}			
		}			
	}

	// Section: Brain is not getting the right fuel
	#fuel {
		h2 {@include font('MontserratSemiBold');}
		p {@include font('MontserratRegular');}
		h3 {@include font('MontserratRegular'); color:$color-blue; text-align:center; @include center-horizontal();}
		.flexcolumn {
			&.r1 {background-color:$color-blue; color:#fff;}
			&.r2 {color:$color-blue;}
			.column:nth-of-type(2) {
				img {@include center-horizontal();}
				p {@include font('MontserratMedium'); text-align:center; @include center-horizontal();}
			}
		}
		
		@include desktop {
			.flexcolumn {
				& {margin-bottom:60px;}
				&.r1 {padding-bottom:60px;}
				.column:nth-of-type(1){padding-top:60px; padding-right:200px;
					h2 {@include font-size(42px,48px); margin-bottom:30px;}
					p {@include font-size(20px,32px);}						
				}
				.column:nth-of-type(2){
					img {margin-bottom:20px;}
					p {@include font-size(24px,32px);}
				}
			}
			h3 {@include font-size(48px,58px); margin-bottom:120px;}
		}
		@include tablet {
			h1 {max-width:600px;}
			.flexcolumn {
				& {margin-bottom:60px;}
				&.r1 {padding-bottom:40px; padding-top:20px;}
				.column:nth-of-type(1){width:350px; padding-right:20px; padding-top:40px;
					h2 {@include font-size(32px,36px); margin-bottom:30px;}
					p {@include font-size(18px,26px);}						
				}
				.column:nth-of-type(2){width:350px;
					img {margin-bottom:20px;}
					p {@include font-size(20px,26px);}
				}
			}
			h3 {@include font-size(36px,40px); margin-bottom:60px;}
		}			
		@include mobile {
			.flexcolumn {
				&.r1 {margin-bottom:40px;}
				p, h2, img {@include center-horizontal(); text-align:center;}
				
				.column:nth-of-type(1){
					h2 {@include font-size(26px,28px); margin-bottom:15px;}
					p {@include font-size(14px,20px); margin-bottom:30px;}						
				}
				.column:nth-of-type(2){
					img {margin-bottom:30px;}
					p {@include font-size(16px,22px); margin-bottom:20px;}
				}
			}
		}
		@include mobile_510 {
			h1 {max-width:400px;}
			h3 {@include font-size(26px,32px); margin-top:10px; margin-bottom:40px;}	
		}
		@include mobile_360 {
			h1 {max-width:290px; @include font-size(20px,26px);}
			h3 {@include font-size(20px,22px); margin-top:5px; margin-bottom:30px;}	
		}
	}

	// Section: Supplement Facts
	#facts {
		& {background-color:$color-gray1;}
		h2 {@include font('MontserratSemiBold'); color:$color-blue; text-transform:uppercase; text-align:center;}
		img {@include center-horizontal();}
		.table {display:block; @include center-horizontal(); width:760px; margin-bottom:20px;
			.title,
			.row {display:block; position:relative;
				.left {display:block;}	
				.right {display:block; position:absolute; top:0px; right:0px; text-align:right;}	
			}
			.title {border-bottom:8px solid #333740;
				& > * {@include font('MontserratSemiBold'); color:#333740; text-transform:uppercase;}
			}
			.row {@include font('MontserratRegular'); border-bottom:2px solid #ebebeb;
				& > * {color:#333740;}
				&.indent .left {padding-left:24px;}
				&:last-of-type {border-bottom:none;}
			}
		}
		
		@include desktop {
			.container {padding-top:90px; padding-bottom:70px;}
			h2 {@include font-size(42px); margin-bottom:50px;}
			.table {width:760px; margin-bottom:30px;
				.left {width:560px;}
				.right {width:200px;}
				
				.title {padding-bottom:50px; margin-bottom:30px;
					.left {@include font-size(40px);}
					.right {@include font-size(26px); top:12px;}
				}
				.row {padding:16px 0;
					* {@include font-size(26px,32px);}
					.right {top:16px;}
				}	
			}
		}
		@include tablet {
			.container {padding-top:70px; padding-bottom:50px;}
			h2 {@include font-size(36px); margin-bottom:50px;}
			.table {width:600px; margin-bottom:30px;
				.left {width:480px;}
				.right {width:120px;}
				
				.title {padding-bottom:30px; margin-bottom:20px;
					.left {@include font-size(34px);}
					.right {@include font-size(20px); top:12px; width:160px;}
				}
				.row {padding:14px 0;
					* {@include font-size(22px,28px);}
					.right {top:14px;}
				}	
			}
		}
		@include mobile {
			.container {padding-top:40px; padding-bottom:20px;}
			h2 {@include font-size(26px); margin-bottom:40px;}
			.table {
				.title {border-width:4px;}
			}		
		}			
		@include mobile_510 {
			.table {width:420px; margin-bottom:30px;
				.left {width:340px;}
				.right {width:80px;}
				
				.title {padding-bottom:20px; margin-bottom:15px;
					.left {@include font-size(22px);}
					.right {@include font-size(14px); top:6px; width:150px;}
				}
				.row {padding:10px 0;
					* {@include font-size(16px,22px);}
					.right {top:10px;}
				}	
			}
			img {max-width:380px; margin-bottom:40px;}
		}
		@include mobile_360 {
			.table {width:290px; margin-bottom:30px;
				.left {width:210px;}
				.right {width:80px;}
				
				.title {padding-bottom:20px; margin-bottom:15px;
					.left {@include font-size(18px);}
					.right {@include font-size(10px); top:10px;}
				}
				.row {padding:6px 0;
					* {@include font-size(14px,18px);}
					.right {top:6px;}
					&.indent .left {padding-left:12px;}
				}	
			}
			img {max-width:260px; margin-bottom:20px;}
		}
	}

	// Section: Medical Team
	#team {
		.flexcolumn {
			.column {
				img {@include center-horizontal();}
				.box {display:block; background-color:#f5f5f5;
					h3 {@include font('MontserratMedium'); color:#000;}
					p.title {@include font('MontserratBold'); color:#9fa3a7; text-transform:uppercase;}
					p.bio {@include font('MontserratRegular'); color:#000;}
				}
			}
		}
		.lower {
			h2 {@include font('MontserratMedium'); color:$color-blue; text-align:center; @include center-horizontal();}
		}
		
		@include tablet_up {
			.column {background-color:#f5f5f5;
				img {width:100%; height:auto;}
			}
		}
		@include desktop {
			.headline {margin-bottom:40px;}
			.column {width:370px;
				.box {padding:40px;
					h3 {@include font-size(22px); margin-bottom:10px;}
					p.title {@include font-size(12px,20px); margin-bottom:20px; letter-spacing:0.2em;}
					p.bio {@include font-size(20px,28px);}
				}
			}
			.video {margin-top:80px;
				&, 
				& > img.overlay, 
				& > iframe {width:1200px; height:675px;}
			}
			.lower {margin:80px 0;
				h2 {@include font-size(42px,48px); max-width:630px;}
			}
		}
		@include tablet {
			.headline {margin-bottom:30px;
				h1 {max-width:500px;}
			}
			.column {width:240px;
				.box {padding:20px 15px;
					h3 {@include font-size(20px); margin-bottom:10px;}
					p.title {@include font-size(11px,16px); margin-bottom:15px; letter-spacing:0.08em;}
					p.bio {@include font-size(16px,22px);}
				}
			}
			.video {margin-top:60px;
				&, 
				& > img.overlay, 
				& > iframe {width:750px; height:422px;}
			}
			.lower {margin:60px 0;
				h2 {@include font-size(32px,36px); max-width:480px;}
			}
		}
		@include mobile {
			.column {width:100vw; margin-left:-15px; margin-right:15px; margin-bottom:20px;
				&:last-of-type {margin-bottom:0px;}
				.box {padding:20px 20px 40px; text-align:center;
					& > * {@include center-horizontal();}
					h3 {@include font-size(20px); margin-bottom:10px;}
					p.title {@include font-size(12px,16px); margin-bottom:20px; letter-spacing:0.1em;}
					p.bio {@include font-size(16px,22px);}
				}
				&:nth-of-type(1) p.title,
				&:nth-of-type(2) p.title {max-width:200px;}
				&:nth-of-type(3) p.title {max-width:240px;}
			}
			.video {width:100vw!important; margin-left:-15px; margin-right:-15px; margin-top:20px;
				&, 
				& > img, 
				& iframe {left:0px; right:0px; top:0px; width:100%; height:calc(100vw * 0.5625);}
			}
			.lower {margin:30px 0;}
		}

		@include mobile_510 {
			.headline {margin-bottom:30px;
				h1 {max-width:400px;}
			}
			.flexcolumn img {max-width:280px;}
			.lower h2 {@include font-size(24px,26px); max-width:360px;}
		}
		@include mobile_360 {
			.headline {margin-bottom:20px;
				h1 {max-width:380px;}
			}
			.flexcolumn img {max-width:200px;}
			.lower h2 {@include font-size(20px,24px); max-width:290px;}
		}
	}
}	
