.page-select-your-plan {
	header {
		nav.global {display:none;}
	}
	#select-plan {
		#mainCTA {
	    	background: #f4f4f4;
	    	text-align: center;
		}
		.heading {
			h1 {@include font('MontserratRegular'); color:#000; text-transform:uppercase; letter-spacing: 1px; font-weight: 500; }
			@include breakpoint('>=bp_1024') { padding: 40px 0 30px; h1 {@include font-size(32px);} }
			@include breakpoint('bp_768') { padding: 30px 0 20px; h1 {@include font-size(28px);} }
			@include breakpoint('bp_540') { padding: 30px 0 20px; h1 {@include font-size(26px);} }
			@include breakpoint('bp_360') { padding: 20px 0 10px; h1 {@include font-size(26px);} }
		}
		.offers {
			.flexbox { padding: 10px 10px 50px 10px; justify-content: space-around; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; 
				@include breakpoint('bp_768') { -ms-flex-direction: column-reverse; flex-direction: column-reverse; align-items: center; } 
				@include breakpoint('<=bp_540') { -ms-flex-direction: column-reverse; flex-direction: column-reverse; align-items: center; } 
			}
			.box { background: #fff; @include font('MontserratRegular');
				-webkit-box-shadow: 0px 5px 10px 2px rgba(235,235,235,1);
				-moz-box-shadow: 0px 5px 10px 2px rgba(235,235,235,1);
				box-shadow: 0px 5px 10px 2px rgba(235,235,235,1);
				@include breakpoint('bp_1280') { width: 500px; padding: 40px 20px; }
				@include breakpoint('bp_1024') { width: 450px; padding: 40px 20px; }
				@include breakpoint('<=bp_768') {@include center-horizontal();}
				@include breakpoint('bp_768') { width: 75%;  padding: 30px 20px; }
				@include breakpoint('bp_540') { width: 65%; padding: 30px 20px; }
				@include breakpoint('bp_360') { width: 100%; padding: 30px 20px; }
				h2 {@include font('MontserratRegular'); color:#000; text-transform:uppercase; @include font-size(24px); padding-bottom: 25px; }
				.text {
					.priceGroup {
						.price { @include font('MontserratRegular'); font-weight: 500; text-transform:uppercase; @include font-size(48px); 
						span { @include font-size(20px); text-transform: none; } }
						.supply { @include font-size(14px); text-transform: none; display: block; margin: 8px 0; } 
						.shipping { font-weight: 600; @include font-size(18px); }
						hr { width: 165px; margin-bottom: 10px; }
					}
					.gift { display: block; color:$color-blue;  @include font('MontserratSemiBold'); padding-bottom: 5px; @include font-size(18px); @include breakpoint('<=bp_540') { @include font-size(16px); } }
					.check { display: block; padding: 2px 0; @include font-size(18px,20px); @include breakpoint('<=bp_540') { @include font-size(16px); } }
				}
				.value { @include font-size(24px); @include font('MontserratRegular'); font-weight: 500; text-transform: uppercase; position: relative; top: -10px;}
				.note { @include font-size(14px,20px) }
				.productImage { position: relative; display: block; width: 100%; background-repeat: no-repeat; background-position: center center; background-size: auto 100%; }
				a.button {@include button(200px,50px,16px);}	
			}    
		}
		#lowerTagline {
			& {background-color:$color-gray2;}
			h1 {@include font('MontserratSemiBold'); color:#fff; text-transform:uppercase; text-align:center; @include center-horizontal(); @include center-vertical();}		
			@include breakpoint('>=bp_1024') {
				.container {height:125px;}
				h1 {@include font-size(32px);}
			}
			@include breakpoint('bp_768') {
				.container {height:100px;}
				h1 {@include font-size(28px, 32px);}
			}	
			@include breakpoint('<=bp_540') {
				.container {padding:20px 15px!important;}
				h1 {top:auto; transform:none;}
			}		
			@include breakpoint('bp_540') {
				h1 {@include font-size(20px,26px);}
			}
			@include breakpoint('bp_360') {
				h1 {@include font-size(18px,24px);}
			}
		}
		hr { border-width: 0.5px; color: #000; border-style: solid; }
		#first { 
			.priceGroup { margin-bottom: 35px; } 
			.productImage { 
				background-image: url(images/select-your-plan-one-time.png); 
				margin-top: 30px;
				@include breakpoint('>=bp_1024') { height: 275px; }
				@include breakpoint('bp_768') { height: 275px; }
				@include breakpoint('bp_540') { height: 200px; }
				@include breakpoint('bp_360') { height: 200px; }	
			} 
			.button { margin: 30px auto 0; } 
			@include breakpoint('>=bp_1024') { .button { margin: 69px auto 0; } }
		}
		#second { 
			@include breakpoint('bp_768') { margin-bottom: 25px!important; }
			@include breakpoint('<=bp_540') { margin-bottom: 25px!important; }
			.priceGroup { margin-bottom: 22px; } 
			.productImage { 
				background-image: url(images/select-your-plan-set.png); 
				margin-top: 10px;
				@include breakpoint('>=bp_1024') { height: 240px; }
				@include breakpoint('bp_768') { height: 240px; }
				@include breakpoint('bp_540') { height: 180px; }
				@include breakpoint('bp_360') { height: 180px; }	
			}
			.button { margin: 20px auto 0; }
			.ribbon {
				background-image: url(images/select-your-plan-ribbon.png);
			    position: absolute;
			    background-repeat: no-repeat;
			    background-size: 100%;
			    top: -9px;
			    right: -7px;
			    height: 175px; width: 130px;
			    @include breakpoint('<=bp_540') { height: 130px; width: 95px; }
			}
		}
	}	
}