// Page: Home
main#home {
	
	// Section: Main Hero
	#hero {
		.text {text-align:center;
			& > * {@include center-horizontal(); text-align:center;}
			h1 {@include font('MontserratLight'); color:$color-blue; text-transform:uppercase;
				strong {@include font('MontserratSemiBold');}
			}
			h3 {@include font('MontserratRegular'); color:#000; text-transform:uppercase; display:inline-block; position:relative;
				&:after {content:""; position:absolute; bottom:0px; left:0px; right:0px; display:block; height:2px; background-color:$color-blue;}
			}
		}
		.order {position:relative; display:block;
			.price {text-align:center;
				.ln1 {@include font('MontserratSemiBold'); color:$color-blue;}
				.ln2 {@include font('MontserratMedium'); color:#282528; text-transform:uppercase;}
			}
		}
		
		// Version 1
		&.version1 {
			.text {
				h2 {@include font('MontserratMedium'); color:#000;
					sup {@include font('MontserratLight'); font-size:50%;}
				}
				p {@include font('MontserratMedium'); color:#000;}
			}	
		}
		
		// Version 2
		&.version2 {
			.text {
				h2 {@include font('MontserratLight'); color:#fff; background-color:$color-blue; text-align:center;}
			}
			.book {position:absolute; background-image:url('images/lower-book.png'); background-repeat:no-repeat;
				h3 {@include font('MontserratRegular'); color:$color-blue; text-transform:uppercase; letter-spacing:-0.06em;
					strong {@include font('MontserratSemiBold');}
					small {@include font('MontserratRegular'); text-transform:none;}
				}
				ul {@include font('MontserratRegular'); color:#000; padding-left:12px;
					li {position:relative; padding-left:5px;
						&:before {content:">"; position:absolute; left:-10px; top:1px; color:$color-blue;}
						&:last-of-type{margin-bottom:0px;}
					}
				}
			}
		}

		@include tablet_up {
			&.version1 {background:#8496a4 url('images/hero-home-desktop-bg.jpg') top center no-repeat; background-size:auto 100%;}
			&.version2 {background:#ffffff url('images/hero-home-v2-desktop-bg.jpg') top center no-repeat; background-size:auto 100%;}
			.text,
			.order {position:absolute;
				.price {position:absolute; left:0px;}
				a.button {position:absolute; top:0px; right:0px;}
			}
			.product {display:none;}
		}
		@include desktop {
			.container {height:700px;}
			.text {
				h3 {@include font-size(24px); width:350px; margin-bottom:20px;
					&:after {bottom:-10px;}
				}
				h1 {@include font-size(54px); letter-spacing:-0.06em;}				
			}
			.order {width:430px; height:60px;
				.price {top:6px;
					.ln1 {@include font-size(30px);}
					.ln2 {@include font-size(20px);}
				}
				a.button {width:240px;}
			}
			
			// Version 1
			&.version1 {
				.text {width:480px; top:150px; right:50px;
					h1 {margin-bottom:20px;}
					h2 {@include font-size(42px); margin-bottom:30px;
						sup {position:relative; font-size:50%; line-height:30px; top:10px;}
					}
					p {@include font-size(22px,32px); width:400px; letter-spacing:-0.02em;}
				}
				.order {top:500px; right:60px;}				
			}
			
			// Version 2
			&.version2 {
				.text {width:530px; top:100px; right:0px;
					h1 {margin-bottom:25px;}
					h2 {@include font-size(60px); letter-spacing:-0.04em; padding:30px 0;}
				}
				.book {top:330px; right:5px;  padding-top:35px; padding-left:160px; min-height:200px; background-size:auto 200px;
					h3 {@include font-size(28px); margin-bottom:15px;
						small {@include font-size(22px);}
					}
					li {@include font-size(20px); letter-spacing:-0.01em; margin-bottom:15px;}	
				}
				.order {top:540px; right:50px;}	
			}
		}
		@include tablet {
			.container {height:430px;}
			.text {
				h3 {@include font-size(16px); width:240px; margin-bottom:20px;
					&:after {bottom:-10px;}
				}
				h1 {@include font-size(34px);}
			}
			.order {width:300px; height:50px;
				.price {top:4px;
					.ln1 {@include font-size(24px);}
					.ln2 {@include font-size(16px);}
				}
				a.button {top:4px;}
			}
			
			// Version 1
			&.version1 {
				.text {width:370px; top:100px; right:0px;
					h3 {@include font-size(16px); width:240px; margin-bottom:20px;
						&:after {bottom:-10px;}
					}
					h1 {margin-bottom:5px;}
					h2 {@include font-size(26px); margin-bottom:10px;
						sup {position:relative; top:6px;}
					}
					p {@include font-size(16px,22px); width:300px;}
				}
				.order {top:305px; right:20px;}				
			}
			
			// Version 2
			&.version2 {
				.text {width:370px; top:50px; right:0px;
					h1 {margin-bottom:16px;}
					h2 {@include font-size(36px); letter-spacing:-0.04em; padding:16px 0; max-width:340px;}
				}
				.book {top:195px; right:5px; width:360px; padding-top:20px; padding-left:85px; min-height:110px; background-size:auto 110px;
					h3 {@include font-size(18px); margin-bottom:10px;
						small {@include font-size(14px);}
					}
					li {@include font-size(14px,18px); letter-spacing:-0.03em; margin-bottom:6px;}
				}
				.order {top:330px; right:30px;}				
			}
		}
		@include mobile {
			.container {width:100vw; padding:20px 0 30px;}
			.text,
			.order,
			.book,
			.product {position:relative!important; width:100%; @include center-horizontal();}
			
			
			// Version 1
			&.version1 {background-color:#f1f3f4;
				.text h2 {display:none;}
			}
			
			// Version 2
			&.version2 {background-color:#ffffff;
				.product {
					img {@include center-horizontal(); width:96%;}
				}				
			}
		}
		@include mobile_510 {
			.text {
				h3 {@include font-size(27px); margin-bottom:20px;
					&:after {height:2px; bottom:-10px;}
				}
				h1 {@include font-size(46px); letter-spacing:-0.01em;}
			}
			.product {width:100%;}
			.order .price {margin-bottom:20px;
				.ln1 {@include font-size(32px);}
				.ln2 {@include font-size(21px);}
			}
			
			// Version 1
			&.version1 {
				.text {max-width:450px; margin-bottom:10px;
					h1 {margin-bottom:5px;}
					p {@include font-size(18px,28px); max-width:340px;}
				}
				.order {margin-top:-50px;}				
			}
			
			// Version 2
			&.version2 {
				.text {
					h1 {margin-bottom:10px;}
					h2 {@include font-size(36px); padding:16px 0; max-width:450px;}
				}
				.book {width:470px; margin-top:-20px; margin-bottom:10px; padding-top:30px; padding-left:108px; min-height:140px; background-size:auto 140px;
					h3 {@include font-size(26px); margin-bottom:10px;
						small {@include font-size(18px);}
					}
					li {@include font-size(18px,22px); letter-spacing:-0.03em; margin-bottom:6px;}
				}
				.product {
					img {max-width:400px;}
				}
				.order {margin-top:-30px;}				
			}
		}
		@include mobile_360 {
			.product {width:100vw;}
			.order .price {margin-bottom:10px;
				.ln1 {@include font-size(23px);}
				.ln2 {@include font-size(15px);}
			}
			
			// Version 1
			&.version1 {
				.text {margin-bottom:10px;
					h3 {@include font-size(16px); display:inline-block; margin-bottom:15px;
						&:after {height:1px; bottom:-6px;}
					}
					h1 {@include font-size(33px); margin-bottom:8px;}
					p {@include font-size(14px,20px); max-width:260px;}
				}
				.order {margin-top:-30px;}				
			}
			
			// Version 2
			&.version2 {
				.text {
					h3 {display:none;}
					h1 {@include font-size(33px); margin-bottom:6px;}
					h2 {@include font-size(26px); letter-spacing:-0.04em; padding:10px 0; max-width:320px;}
				}
				.book {width:340px; margin-top:-10px;  margin-bottom:10px; padding-top:20px; padding-left:80px; min-height:100px; background-size:auto 100px;
					h3 {@include font-size(18px); margin-bottom:5px;
						small {@include font-size(14px);}
					}
					li {@include font-size(14px,18px); letter-spacing:-0.03em; margin-bottom:2px;}
				}
				.product {
					img {max-width:220px;}
				}
				.order {margin-top:-10px;}				
			}
		}
	}
	
	// Section: Hero Icon Bar
	#icons {
		& {background-color:$color-gray1;}
		.container {display:flex; flex-wrap:nowrap; justify-content:center;}
		.block {position:relative; max-height:72px; background-position:top left; background-repeat:no-repeat; background-size:auto 100%;
			&.caffeine {background-image:url('images/icon-caffeine.png');}
			&.safe {background-image:url('images/icon-safe.png');}
			&.drugs {background-image:url('images/icon-drugs.png');}
			span {@include font('MontserratMedium'); color:#000; text-transform:uppercase; text-align:left; position:relative; display:block;}
		}
		@include tablet_up {
			.container {flex-direction:row; flex-wrap:nowrap; justify-content:center;}
		}
		@include desktop {
			.container {height:125px; padding-top:25px; padding-left:40px;}
			.block {height:76px; padding-left:62px;
				span {@include font-size(20px); top:26px; padding-left:10px;}
				&.caffeine {width:330px;}
				&.safe {width:260px;}
				&.drugs {width:350px;}
			}
		}
		@include tablet {
			.container {height:100px; padding-top:20px; padding-left:40px;}
			.block {height:60px; padding-left:50px;
				span {@include font-size(18px); top:26px; padding-left:10px;}
				&.caffeine {width:240px;}
				&.safe {width:180px;}
				&.drugs {width:220px;
					span {top:10px;}
				}
			}
		}			
		@include mobile {
			.container {flex-direction:column; padding-top:20px; padding-bottom:20px;}
			.block {width:100%; margin-bottom:10px; @include center-horizontal();
				&:last-of-type {margin-bottom:0px;}
			}
		}
		@include mobile_510 {
			.block {height:50px; padding-left:40px; max-width:340px;
				span {@include font-size(20px); top:14px; padding-left:10px;}
			}				
		}			
		@include mobile_360 {
			.block {height:40px; padding-left:34px; max-width:290px;
				span {@include font-size(16px); top:14px; padding-left:10px;}
			}				
		}				
	}
	
	// Section: Intro (Split Color)
	#intro {
		.text {display:block; position:relative;
			h2 span {@include font('MontserratRegular');}
			p,ul {@include font('MontserratRegular');}
			p strong {@include font('MontserratMedium');}
			ul li {
				&:before {content:">"; padding-right:5px; @include font('MontserratMedium'); color:$color-blue;}
				&:last-of-type {margin-bottom:0px;}
			}
		}
		@include tablet_up {
			&:before {background-color:#fff;}
			&:after {background:#63a5c3 url('images/home-intro-desktop-bg.jpg') left top no-repeat; background-size:auto 100%;}				
		}
		@include desktop {
			.container {min-height:760px;}
			.text {width:600px; margin-top:70px;
				h2 {margin-bottom:40px;
					span {@include font-size(42px,48px);}
				}
				p {@include font-size(20px,32px);
					strong {letter-spacing:-0.02em;}
					&:nth-of-type(1){margin-bottom:20px;}
					&:nth-of-type(2){margin-bottom:10px;}
				}
				li {@include font-size(20px); margin-bottom:15px;}
			}
		}
		@include tablet {
			.container {min-height:560px;}
			.text {width:420px; margin-top:20px; margin-bottom:20px;
				h2 {margin-bottom:15px;
					span {@include font-size(32px,36px);}
				}
				p {@include font-size(18px,26px); max-width:500px;
					strong {display:inline-block; @include font-size(18px,20px); max-width:400px;}
					&:nth-of-type(1){margin-bottom:20px;}
					&:nth-of-type(2){margin-bottom:10px;}
				}
				li {@include font-size(18px); margin-bottom:8px;}
			}				
		}			
		@include mobile {
			& {background:url('images/home-intro-mobile-bg.jpg') center top no-repeat; background-size:100% auto;}
			.text {margin-bottom:20px;
				h2 {height:calc(100vw * 0.585);
					span {display:block; color:#fff; text-align:center; @include center-vertical(); @include center-horizontal();}
				}
				p {@include font-size(16px,22px); text-align:center;
					&:nth-of-type(1){margin-bottom:15px;}
					&:nth-of-type(2){margin-bottom:10px;}
				}
				ul {max-width:290px; @include center-horizontal();
					li {@include font-size(16px); letter-spacing:-0.04em; margin-bottom:6px;}
				}
			}				
		}
		@include mobile_510 {
			h2 {margin-bottom:40px;
				span {@include font-size(38px,46px); letter-spacing:-0.05em; max-width:450px;}
			}
		}
		@include mobile_360 {
			h2 {margin-bottom:20px;
				span {@include font-size(22px,32px); letter-spacing:-0.02em; max-width:290px;}
			}
		}			
	}
	
	// Section: How it Works
	#howitworks {
		& {background-color:$color-gray1;}
		h2 {@include font('MontserratRegular'); color:#000; text-align:center; @include center-horizontal();}
		h3 {@include font('MontserratBold'); color:$color-blue; text-align:center; text-transform:uppercase; background-position:center top; background-repeat:no-repeat;}
		p {@include font('MontserratRegular'); color:#000; text-align:center; @include center-horizontal();}
		a.button {@include center-horizontal();}
		
		.flexcolumn {
			.column {
				&:nth-of-type(1) h3 {background-image:url('images/icon-structure-alpha.png');}
				&:nth-of-type(2) img {@include center-horizontal();}
				&:nth-of-type(3) h3 {background-image:url('images/icon-structure-omega.png');}
			}
		}
		@include desktop {
			.container {padding-top:80px; padding-bottom:80px;}
			h2 {@include font-size(42px,48px); max-width:750px; margin-bottom:60px;}
			p {@include font-size(20px,32px); max-width:1000px; margin-bottom:60px;}
			.flexcolumn {margin-bottom:60px;
				.column {
					&:nth-of-type(1),
					&:nth-of-type(3){width:30%;}
					&:nth-of-type(2){width:40%;}
						
					h3 {@include font-size(34px); padding-top:85px; margin-bottom:60px;}
					p {@include font-size(18px,26px); max-width:320px; margin-bottom:0px;}
					img.icon {width:430px;}
				}
			}
			a.button {width:200px;
				span {@include font-size(18px); top:20px;}
			}
		}
		@include tablet {
			.container {padding-top:40px; padding-bottom:40px;}
			h2 {@include font-size(32px,36px); max-width:700px; margin-bottom:40px;}
			p {@include font-size(18px,26px); max-width:1000px; margin-bottom:40px;}
			.flexcolumn {
				.column {
					&:nth-of-type(1),
					&:nth-of-type(3){width:32%;}
					&:nth-of-type(2){width:36%;}
					
					h3 {@include font-size(28px); padding-top:85px; margin-bottom:20px;}
					p {@include font-size(16px,22px); margin-bottom:0px;}
					img.icon {width:250px;}
				}
			}
			a.button {width:200px;}
		}			
		@include mobile {
			.container {padding-top:30px; padding-bottom:10px;}
			h2 {@include font-size(26px,28px); max-width:500px; margin-bottom:20px;}
			p {@include font-size(16px,22px); max-width:1000px; margin-bottom:20px;}
			.flexcolumn {margin-bottom:20px;
				.column {
					h3 {@include font-size(26px); padding-top:65px; margin-bottom:15px; background-size:auto 60px;}
					p {margin-bottom:0px;}
					img.icon {width:100%; max-width:260px;}
				}
			}
			a.button {margin-bottom:20px;}
		}			
	}

	// Section: Better Brain
	#better {
		h2 {@include font('MontserratRegular'); color:#000; text-align:center; @include center-horizontal();}
		p {@include font('MontserratRegular'); color:#000; text-align:center; @include center-horizontal();}
		h3 {@include font('MontserratRegular'); color:#fff; text-align:center; @include center-horizontal();}
		.button_wrapper {position:relative; display:block; @include center-horizontal();}
		
		.flexcolumn {
			.column {position:relative; background-position:center top; background-repeat:no-repeat; background-size:auto 100%;
				&:nth-of-type(1){background-image:url('images/better-box1-bg.jpg');
					.icon {background-color:$color-blue; background-image:url('images/icon-head.svg');}
				}
				&:nth-of-type(2){background-image:url('images/better-box2-bg.jpg');
					.icon {background-color:$color-gray2; background-image:url('images/icon-spokes.svg');}
				}
				&:nth-of-type(3){background-image:url('images/better-box3-bg.jpg');
					.icon {background-color:$color-blue; background-image:url('images/icon-blocks.svg');}
				}
				&:nth-of-type(4){background-image:url('images/better-box4-bg.jpg');
					.icon {background-color:$color-gray2; background-image:url('images/icon-brain.svg');}
				}
				.icon {position:absolute; background-position:center top; background-repeat:no-repeat;}
			}
		}
		
		@include tablet_up {
			a.button {@include center-horizontal();}
			img.badge {display:none;}
		}
		@include desktop {
			& > .container {padding-top:100px; padding-bottom:80px;}
			h2 {@include font-size(42px); margin-bottom:40px;}
			p {@include font-size(20px,32px); max-width:850px;}
			a {width:250px;}
			.flexcolumn {margin-top:50px; margin-bottom:100px;
				.column {width:275px; height:420px; margin-bottom:145px;
					&:nth-of-type(3){background-position:left -260px top;}
					&:nth-of-type(4){background-position:left -320px top;}
					.icon {bottom:-145px; left:25px; right:25px; height:225px; background-size:90px; background-position:center top 40px;
						h3 {@include font-size(24px,28px); margin-top:140px; max-width:200px;}
					}
				}
			}
		}
		@include tablet {
			& > .container {padding-top:40px; padding-bottom:20px;}
			h2 {@include font-size(32px); margin-bottom:40px;}
			p {@include font-size(18px,26px); max-width:650px;}
			a {width:200px;}
			.flexcolumn {margin-top:40px; margin-bottom:40px;
				.column {width:175px; height:220px; margin-bottom:100px;
					&:nth-of-type(2){background-position:left -100px top;}
					&:nth-of-type(3){background-position:left -120px top;}
					&:nth-of-type(4){background-position:left -140px top;}
					.icon {bottom:-100px; left:10px; right:10px; height:155px; background-size:60px; background-position:center top 20px;
						h3 {@include font-size(18px,22px); letter-spacing:-0.02em; margin-top:90px; max-width:140px;}
					}
				}
			}
		}
		@include mobile {
			& > .container {padding-top:30px; padding-bottom:20px;}
			h2 {@include font-size(26px,28px); margin-bottom:20px;}
			p {@include font-size(16px,22px); max-width:650px;}
			.flexcolumn {width:100vw; margin-left:-15px; margin-right:-15px; margin-top:30px; margin-bottom:40px;
				.column {width:100%; height:calc(100vw * 0.55); background-size:cover;
					.icon {left:0px; right:0px;}
				}
			}
			.button_wrapper {
				img.badge {position:absolute; top:0px; left:0px;}
				a.button {position:absolute; top:0px; right:0px;}
			}
		}
		@include mobile_510 {
			h1 {max-width:550px;}
			.flexcolumn .column {margin-bottom:120px;
				.icon {bottom:-120px; height:120px; background-size:50px; background-position:center top 10px!important;
					h3 {@include font-size(20px,24px); margin-top:65px; max-width:200px;}
				}
			}
			.button_wrapper {width:420px; height:110px;
				img.badge {width:110px; height:110px;}
				a.button {top:15px;}
			}	
		}			
		@include mobile_360 {
			h1 {@include font-size(23px,26px);}
			.flexcolumn .column {margin-bottom:100px;
				.icon {bottom:-100px; height:100px; background-size:40px; background-position:center top 10px!important;
					h3 {@include font-size(16px,20px); margin-top:50px; max-width:140px;}
				}
			}
			.button_wrapper {width:300px; height:75px;
				img.badge {width:75px; height:75px;}
				a.button {top:12px;}
			}				
		}			
	}

	// Section: Real Stories
	#stories {
		.flexcolumn.r2 {
			&:before {content:""; position:absolute; background:url('images/home-stories-greg-badge.png') center center no-repeat; background-size:100% 100%;}
			&:after {content:""; position:absolute; width:50%; top:0px; bottom:0px; right:0px; background:url('images/home-stories-greg-bg.jpg') no-repeat; z-index:-1;}
			p.quote:before {content:""; position:absolute; height:30px; width:36px; background:url('images/home-stories-large-quotes.png') center center no-repeat;}
		}
		
		@include tablet_up {
			.flexcolumn.r2 {
				&:after {background-position:left bottom; background-size:auto 100%;}
				.text {text-align:center;
					p,h3 {@include center-horizontal();}
				}
			}			
		}
		@include desktop {
			a.boldLink {@include font-size(18px); letter-spacing:-0.04em;}
			.flexcolumn.r1 {padding-top:80px; padding-bottom:80px; margin-bottom:60px; border-bottom:8px solid $color-blue;
				.text {padding:30px 0 0 50px;
					p.person {max-width:315px;}
					p.quote {margin-bottom:60px;}
				}	
			}
			.flexcolumn.r2 {
				&:before {top:490px; left:calc((100vw / 2) + 330px); width:260px; height:60px;}				
				.container {height:680px;
					&:after {bottom:130px; right:0px;}
				}
				.text {width:50%; padding-top:220px;
					p.quote {margin-bottom:60px; max-width:440px;
						&:before {top:-60px; left:200px;}
					}
					p.person {margin-bottom:80px;}
				}
			}				
		}
		@include tablet {
			a.boldLink {@include font-size(15px); letter-spacing:-0.04em;}
			.flexcolumn.r1 {padding-top:40px; padding-bottom:40px; margin-bottom:30px; border-bottom:5px solid $color-blue;
				.text {padding-left:20px;
					p.person {margin-bottom:20px;}
					p.quote {margin-bottom:20px;}
				}	
			}
			.flexcolumn.r2 {
				&:before {top:350px; left:calc((100vw / 2) + 206px); width:160px; height:37px;}
				.container {height:480px;
					&:after {bottom:80px; right:0px;}
				}
				.text {width:340px; padding-top:120px;
					p.quote {max-width:440px; margin-bottom:40px;
						&:before {top:-60px; left:150px;}
					}
					p.person {margin-bottom:40px;}
				}
			}				
		}			
		@include mobile {
			a.boldLink {@include font-size(13px); letter-spacing:-0.04em;}
			.flexcolumn.r1 {
				.text {
					h3, p.person {display:none;}
					p.quote {margin-top:20px; margin-bottom:30px; max-width:480px;}
					a {order:4; max-width:290px;}
				}	
			}
			.flexcolumn.r2 {margin-top:10px;
				&:before {top:290px; left:calc((100vw / 2) - 160px); width:173px; height:40px;}
				&:after {content:""; position:absolute; top:0px; display:block; width:100%; height:330px; background-position:center top; background-size:415px auto; z-index:-1;}
				.container {padding-top:330px;}
				.text {margin-top:20px;
					h3, p.person, a {display:none;}
					p.quote {max-width:480px; margin-top:40px;
						&:before {top:-40px; left:44%;}
					}
				}
			}				
		}
	}

	// Section: Trustpilot
	#trustpilot {
		@include tablet_up {
			padding: 60px 0;
		}
		@include mobile {
			padding: 30px 0;
		}
		background: #F6F9FC;
		h3 {
			display: none;
			@media (min-width: 520px) {
				@include font('Montserrat');
				display: block;
			    font-size: 1.75em;
			    color: black;
			    text-transform: none;
			    text-align: center;
			    letter-spacing: 0;
			    letter-spacing: -1px;
			    margin-bottom: 40px;
			}
			@media (min-width: 768px) {
				font-size: 2.25em;
			}
		}
	}
	
	// Section: Purity
	#purity {
		& {background:url('images/home-purity-bg.jpg') center center no-repeat; background-size:auto 100%;}
		.container {
			& > * {color:#fff; text-align:center; @include center-horizontal();}
			&:after {content:""; position:absolute; bottom:0px; display:block; background:url('images/home-purity-badge.png') center center no-repeat; background-size:100% 100%;}
		}
		h2 {@include font('MontserratMedium'); text-transform:uppercase;}
		p {@include font('MontserratRegular');}
		
		@include desktop {
			& {background-size:cover;}
			.container {height:350px; padding-top:60px;
				&:after {bottom:30px; left:calc(50% - (110px / 2)); width:110px; height:110px;}
			}
			h2 {@include font-size(42px); margin-bottom:20px;}
			p {@include font-size(20px,32px); max-width:620px;}
		}
		@include tablet {
			.container {height:280px; padding-top:40px;
				&:after {bottom:20px; left:calc(50% - (80px / 2)); width:80px; height:80px; }
			}
			h2 {@include font-size(32px); margin-bottom:20px;}
			p {@include font-size(18px,26px); max-width:620px;}
		}
		@include mobile {
			.container {min-height:200px; padding-top:20px; padding-bottom:80px;
				&:after {bottom:10px; left:calc(50% - (60px / 2)); width:60px; height:60px; }
			}
			h2 {@include font-size(26px,28px); margin-bottom:20px;}
			p {@include font-size(16px,22px); max-width:500px;}
		}
	}

	// Section: Science & Medial Expertise
	#science {
		h2 {@include font('MontserratRegular');}
		p {@include font('MontserratRegular');}
		p.ln1 {@include font('MontserratMedium');}
		
		@include tablet_up {
			.column {width:50%;
				&.image {
					img {@include center-horizontal();}
					.title {@include center-horizontal(); text-align:center;}
				}
			}
		}
		@include desktop {
			.container {padding-top:40px; padding-bottom:60px;}
			.column {
				&.image {
					.title {padding-top:15px;
						p.ln1 {@include font-size(20px); margin-bottom:5px;}
						p.ln2 {@include font-size(18px);}
					}
				}
				&.text {padding-top:60px; padding-left:80px; padding-right:40px;
					h2 {@include font-size(42px,48px); margin-bottom:40px;}
					p {@include font-size(20px,32px);}
				}
			}
		}
		@include tablet {
			.container {padding-top:20px; padding-bottom:30px;}
			.column {
				&.image {width:40%;
					.title {padding-top:10px;
						p.ln1 {@include font-size(18px); margin-bottom:5px;}
						p.ln2 {@include font-size(16px,20px);}
					}
				}
				&.text {width:60%; padding-top:30px; padding-left:40px; padding-right:20px;
					h2 {@include font-size(32px,36px); margin-bottom:20px;}
					p {@include font-size(18px,26px);}
				}
			}
		}
		@include mobile {
			.container {padding-top:20px;}
			.column {
				&.image {order:2;
					.title {
						p.ln1 {@include font-size(16px); margin-bottom:5px;}
						p.ln2 {@include font-size(16px,20px);}
					}
				}
				&.text {order:1;
					& > * {text-align:center;}
					h2 {@include font-size(26px,28px); margin-bottom:20px;}
					p {@include font-size(16px,22px);}
				}
			}
		}
		@include mobile_510 {
			.column.image {position:relative; max-width:450px; height:240px; margin-top:20px; @include center-horizontal();
				img {position:absolute; right:0px; bottom:0px; width:240px;}
				.title {position:absolute; left:60px; top:40px; width:200px;}
			}			
		}
		@include mobile_360 {
			.column.image {margin-top:20px;
				img {width:100%; max-width:400px; @include center-horizontal();}
				.title {padding-top:15px; padding-bottom:15px; text-align:center;}
			}		
		}
	}
	// Disclaimer
	.asterisk{font-size:25px;position:relative;top:-25px}	
}	
