body.page-real-user-stories {
	main {
		
		// Section: Main Hero
		#hero {
			h1 {@include font('MontserratRegular'); color:$color-blue; text-align:center; @include center-horizontal();}
			p {@include font('MontserratRegular'); color:#000; display:block; position:absolute; text-align:left;}
			img {@include center-horizontal();}
			
			@include tablet_up {
				.container {background:url('images/hero-stories-bg.jpg')no-repeat;}
				.text {position:absolute; top:0px; height:100%;}
			}
			@include desktop {
				.container {height:700px; background-position:left 85px bottom;
					.text {right:80px; width:460px;
						h1 {@include font-size(54px,60px); margin-top:100px; margin-bottom:50px;}
						p {@include font-size(20px,24px); bottom:40px; left:60px; max-width:380px;}
					}
				}
			}
			@include tablet {
				.container {height:410px; background-position:left 60px bottom; background-size:342px 400px;
					.text {right:0px; width:350px;
						h1 {@include font-size(42px,44px); margin-top:60px; margin-bottom:30px;}
						p {@include font-size(16px,20px); bottom:20px; left:20px; max-width:300px;}
						img {width:80px; height:80px;}
					}
				}
			}
			@include mobile {
				h1 {margin-top:20px; margin-bottom:20px;}
				img {width:80px; height:80px; margin-bottom:20px;}
			}
			@include mobile_510 {
				h1 {@include font-size(28px,32px); max-width:380px;}
			}		
			@include mobile_360 {
				h1 {@include font-size(22px,26px); max-width:290px;}
			}			
		}

		// Section: Storeis
		#stories {
			.flexcolumn {			
				.video:after {content:""; position:absolute; bottom:0px; left:0px; right:0px; display:block; height:5px; background-color:$color-blue;}
				&:last-of-type {padding-bottom:0px;
					.video:after {display:none;}
				}
			}

			@include desktop {
				.headline {margin-bottom:100px;}
				.flexcolumn {padding-bottom:150px; margin-bottom:150px;
					.video {
						&, 
						& > img, 
						& > iframe {width:765px; height:430px;}
						&:after {bottom:-150px;}
					}
					&.videoLeft .column.text {padding-left:100px;}
					&.videoRight .column.text {padding-right:100px;}
				}
			}
			@include tablet {
				.headline {margin-bottom:60px;}
				.flexcolumn {padding-bottom:100px; margin-bottom:100px;
					.video {
						&, 
						& > img, 
						& > iframe {width:400px; height:225px;}
						&:after {bottom:-100px;}
					}
					&.videoLeft .column.text {padding-left:60px;}
					&.videoRight .column.text {padding-right:60px;}
				}
			}
			@include mobile {
				.flexcolumn {padding-left:0px!important; padding-right:0px!important;
					.column {order:0!important; border-bottom:4px solid $color-blue; text-align:center;
						&.video {margin-bottom:20px;
							&, 
							& > img, 
							& iframe {left:0px; right:0px; top:0px; width:100%; height:calc((100vw * 0.5625) - 7px);}
							&:after {display:none;}
						}
					}
					&:last-of-type .column {border-bottom:none;}
				}	
			}
			@include mobile_510 {
				h1 {max-width:480px;}
			}
		}
		
	}
}